Test att hantera null eller Nan v√§rden

In [1]:
# Importing useful libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

In [3]:
# importing data
data_path= './data/housing.csv'
housing = pd.read_csv(data_path)
housing.head()

     ZN  INDUS  CHAS    NOX     RM   AGE     DIS  RAD    TAX  PTRATIO  MEDV
0  18.0   2.31   0.0    NaN  6.575  65.2  4.0900  1.0  296.0     15.3  24.0
1   0.0   7.07   0.0  0.469  6.421  78.9  4.9671  2.0  242.0     17.8  21.6
2   0.0   7.07   0.0  0.469  7.185  61.1  4.9671  2.0  242.0     17.8  34.7
3   0.0   2.18   0.0    NaN  6.998  45.8  6.0622  3.0  222.0     18.7  33.4
4   0.0   2.18   0.0  0.458  7.147  54.2  6.0622  3.0  222.0     18.7  36.2

In [4]:
housing.isnull().sum()

ZN           0
INDUS        0
CHAS        10
NOX        315
RM           0
AGE          3
DIS         38
RAD          0
TAX          0
PTRATIO      0
MEDV         0
dtype: int64